

.introPartner{

	text-align: center;
}

.boitePartner{


	  background-color:#0580a3;
	  height:250px;
	  width: 250px;
	  color:white;
	  text-align: center;

}

.boitePartner:hover{
	  background-color:#0580a3 0.6;
	  height:250px;
	  width: 250px;
	  color:white;
	  text-align: center;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.6);

}

.boitePartner h1{
line-height: 3.85em;
}

table{

	width:auto !important;
}

th{

	text-align: center!important;
}
.browser-default{
	display: inline!important;
}

.categorieLegende{
	display: inline!important;
}

.quizCategorie{

	width:300px;
}

.BoutonAjtRNone{

	display: none;
}

#boutonAjouterQuiz{

	z-index: 1;
}

.popUp{
    background: rgba(0,0,0, .8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;

/*display: none;
*/}


.waves-effect{

z-index: -2;}


.lePop {


	text-align: center;
	margin-left: 35%;
	width: 40%;
	height:40%;
	color:red;
	background-color: black;
	margin-top: 10%;
}

.lePop{

	padding-top: 3%;
}


.RepFNone{
	display: none;
}


.titreQuiz{
	width:200px;
}

.BoutonSaveQuiz{
	margin-top: 0%;
}

.boitePartner h1:hover{
line-height: 3.85em;

}

.BtnBackQuiz{
margin-right: -600px;}

#accueilEspacePartner{

	margin-left: 30%;
}
.ledivBlock{

margin-right: -25%;

}

#boutonAjouterQuiz{

position:absolute;
top:0;
right:0;
margin-top:90px;
margin-right: 40px;

}

@media screen and (max-width: 640px) {

.boitePartner{


	  background-color:#0580a3;
	  height:60px;
	  width: 250px;
	  color:white;
	  text-align: center;

}

.boitePartner:hover{


	  background-color:#0580a3;
	  height:60px;
	  width: 250px;
	  color:white;
	  text-align: center;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.6);

}


.boitePartner h1{
line-height: 1.5em;
font-size: 40px;
}

.boitePartner h1:hover{
line-height: 1.5em;
font-size: 40px;

}

#accueilEspacePartner{

	margin-left: 20%;
}
.ledivBlock{

margin-right: 5%;



}

